{% if
product.metafields.custom.sustanbility_rating.value != blank or
product.metafields.custom.carbon_footprint.value !=blank or
product.metafields.custom.corporate_integrity.value !=blank or
product.metafields.custom.sustainbility.value !=blank or
product.metafields.custom.lifecycle_assessments.value !=blank or
product.metafields.custom.social_fairness.value !=blank or
product.metafields.custom.shipping_package.value !=blank
%}
<div class="sustanbility-rating-wrap">
    <div class="sustanbility-rating">
        <div class="sustanbility-rating-title">
            <div>Sustanbility Rating</div>
            <div class="sustanbility-close">Show</div>
        </div>
        <div class="sustanbility-rating-body">
            {% if product.metafields.custom.carbon_footprint.value != blank %}
                <div class="sustanbility-rating-item">
                    <div class="sustanbility-rating-item-title">
                        <div class="sustanbility-rating-item-icon">
                            {{ 'carbon.png' | asset_url | img_tag: 'carbon' }}
                        </div>
                        <div>Сarbon footprint</div>
                    </div>
                    <div class="sustanbility-rating-item-visual"><div class="sustanbility-rating-item-bg" style="width:calc({{ product.metafields.custom.carbon_footprint.value }}*16.666%)"></div></div>
                    <div class="sustanbility-rating-item-number">{{ product.metafields.custom.carbon_footprint.value }} out of 6</div>
                </div>
            {% endif %}
            {% if product.metafields.custom.corporate_integrity.value != blank %}
                <div class="sustanbility-rating-item">
                    <div class="sustanbility-rating-item-title">
                        <div class="sustanbility-rating-item-icon">
                            {{ 'corporate.png' | asset_url | img_tag: 'corporate' }}
                        </div>
                        <div>Сorporate integrity</div>
                    </div>
                    <div class="sustanbility-rating-item-visual"><div class="sustanbility-rating-item-bg" style="width:calc({{ product.metafields.custom.corporate_integrity.value | floor}}*16.666%)"></div></div>
                    <div class="sustanbility-rating-item-number">{{ product.metafields.custom.corporate_integrity.value }} out of 6</div>
                </div>
            {% endif %}

            {% if product.metafields.custom.sustainbility.value != blank %}
                <div class="sustanbility-rating-item">
                    <div class="sustanbility-rating-item-title">
                        <div class="sustanbility-rating-item-icon">
                            {{ 'carbon-footprint.png' | asset_url | img_tag: 'carbon-footprint' }}
                        </div>
                        <div>Materials</div>
                    </div>
                    <div class="sustanbility-rating-item-visual"><div class="sustanbility-rating-item-bg" style="width:calc({{ product.metafields.custom.sustainbility.value }}*16.666%)"></div></div>
                    <div class="sustanbility-rating-item-number">{{ product.metafields.custom.sustainbility.value }} out of 6</div>
                </div>
            {% endif %}
            {% if product.metafields.custom.lifecycle_assessments.value != blank %}
                <div class="sustanbility-rating-item">
                    <div class="sustanbility-rating-item-title">
                        <div class="sustanbility-rating-item-icon">
                            {{ 'lifecicle.png' | asset_url | img_tag: 'lifecicle' }}
                        </div>
                        <div>Lifecycle assessments</div>
                    </div>
                    <div class="sustanbility-rating-item-visual"><div class="sustanbility-rating-item-bg" style="width:calc({{ product.metafields.custom.lifecycle_assessments.value }}*16.666%)"></div></div>
                    <div class="sustanbility-rating-item-number">{{ product.metafields.custom.lifecycle_assessments.value }} out of 6</div>
                </div>
            {% endif %}
            {% if product.metafields.custom.social_fairness.value != blank %}
                <div class="sustanbility-rating-item">
                    <div class="sustanbility-rating-item-title">
                        <div class="sustanbility-rating-item-icon">
                            {{ 'social.png' | asset_url | img_tag: 'social' }}
                        </div>
                        <div>Social fairness</div>
                    </div>
                    <div class="sustanbility-rating-item-visual"><div class="sustanbility-rating-item-bg" style="width:calc({{ product.metafields.custom.social_fairness.value }}*16.666%)"></div></div>
                    <div class="sustanbility-rating-item-number">{{ product.metafields.custom.social_fairness.value }} out of 6</div>
                </div>
            {% endif %}
            {% if product.metafields.custom.shipping_package.value != blank %}
                <div class="sustanbility-rating-item">
                    <div class="sustanbility-rating-item-title">
                        <div class="sustanbility-rating-item-icon">
                            {{ 'shipping.png' | asset_url | img_tag: 'lifecicle' }}
                        </div>
                        <div>Shipping & Package</div>
                    </div>
                    <div class="sustanbility-rating-item-visual"><div class="sustanbility-rating-item-bg" style="width:calc({{ product.metafields.custom.shipping_package.value }}*16.666%)"></div></div>
                    <div class="sustanbility-rating-item-number">{{ product.metafields.custom.shipping_package.value }} out of 6</div>
                </div>
            {% endif %}
            {% if product.metafields.custom.sustanbility_rating.value != blank %}
                {% assign summary = product.metafields.custom.sustanbility_rating.value %}
                <div class="sustanbility-rating-sum">
                    <div class="sustanbility-rating-sum-title">
                        <div class="sustanbility-big">Overall rating:
                        <strong>
                            {% if summary == 0 or summary == 1 %}We Avoid{% endif %}
                            {% if summary == 2 %}Not Good{% endif %}
                            {% if summary == 3 %}It's a Start{% endif %}
                            {% if summary == 4 or summary == 5%}Good{% endif %}
                            {% if summary == 6 %}Great{% endif %}
                        </strong>
                        </div>
                        <div class="sustanbility-small">Our ratings are based on a scale from 1 to 6 </div>
                    </div>
                    <div class="sustanbility-rating-sum-visual">
                        <span class="{% if summary == 0 or summary == 1 %}sustanbility-black{% endif %}">
                            <svg width="20" height="20" viewBox="0 0 24 24" fill="none"
                                 xmlns="http://www.w3.org/2000/svg">
                                <path d="M11.9999 13.2412C5.79316 13.2412 5.79297 19.0252 5.79297 19.0252C10.4394 18.9936 13.5603 19.0568 18.2068 19.0252C18.2068 19.0252 18.2068 13.2412 11.9999 13.2412Z"
                                      stroke="black"/>
                                <circle cx="12" cy="12" r="11.5" stroke="black"/>
                            </svg>
                        </span>
                        <span class="{% if summary == 2 %}sustanbility-black{% endif %}">
                           <svg width="20" height="20" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M5.79297 19.0252C5.79297 19.0252 5.79316 13.2412 11.9999 13.2412C18.2068 13.2412 18.2068 19.0252 18.2068 19.0252" stroke="black"/>
                                <circle cx="12" cy="12" r="11.5" stroke="black"/>
                           </svg>
                        </span>
                        <span class="{% if summary==  3 %}sustanbility-black{% endif %}">
                           <svg width="20" height="20" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M5.79297 15.7246H11.9999H18.2068" stroke="black"/>
                                <circle cx="12" cy="12" r="11.5" stroke="black"/>
                            </svg>
                        </span>
                        <span class="{% if summary == 4 %}sustanbility-black{% endif %}">
                           <svg width="20" height="20" viewBox="0 0 73 73" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M18 48C18 48 25 58 37 58C49 58 56 48 56 48" stroke="black" stroke-width="3"/>
<circle cx="36.5" cy="36.5" r="35" stroke="black" stroke-width="3"/>
</svg>
                        </span>
                        <span class="{% if summary == 5 %}sustanbility-black{% endif %}">
                          <svg width="20" height="20" viewBox="0 0 73 73" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M18 40C18 40 18.0006 58 37 58C56.0002 58 56 40 56 40" stroke="black" stroke-width="3"/>
<circle cx="36.5" cy="36.5" r="35" stroke="black" stroke-width="3"/>
</svg>
                        </span>
                        <span class="{% if summary == 6 %}sustanbility-black{% endif %}">
                          <svg width="20" height="20" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M12.2069 18.793C6.00019 18.793 6 13.009 6 13.009C10.6465 13.0406 13.7673 12.9774 18.4138 13.009C18.4138 13.009 18.4139 18.793 12.2069 18.793Z" stroke="black"/>
                                <circle cx="12" cy="12" r="11.5" stroke="black"/>
                          </svg>
                        </span>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
</div>
{% endif %}

<script>
    let closeBtn = document.querySelector(".product__info-wrapper .sustanbility-close");
    let closedBody = document.querySelector(".product__info-wrapper .sustanbility-rating-body");

    closeBtn.onclick = function() {
        closedBody.classList.toggle('open');
        closeBtn.textContent == 'Hide'? closeBtn.textContent = 'Show' : closeBtn.textContent = 'Hide';
    }

</script>
